<section
  class="py-24 lg:py-24 md:py-36 bg-cyan-50 dark:bg-[#2c2c31] px-5 min-h-[80vh]"
>
  <div class="container m-auto">
    <h2 class="text-5xl dark:text-cyan-50 text-cyan-800">
      My Fav<i class="fa-solid fa-heart text-3xl text-red-500"></i>rite
    </h2>
    <!-- product grid -->
    @if (!isLoading) {
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-10"
    >
      @if (productList.length === 0 ) {
      <div
        class="card text-center p-5 space-y-3.5 sm:col-span-2 md:col-span-3 lg:col-span-4 dark:text-cyan-50 w-full"
      >
        <h2 class="text-[30px] leading-[23px]">
          There Are No Favorite Products
        </h2>
        <p>You Can Have A Look At Our Products</p>
        <div class="my-10 flex justify-center items-center">
          <a
            routerLink="/products"
            type="button"
            class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full md:w-[50%] lg:w-[30%]"
          >
            See All Products
          </a>
        </div>
      </div>
      }@else { @for (product of productList; track product._id) {
      <app-card [product]="product" ngSkipHydration></app-card>
      } }
    </div>
    }@else {
    <div class="h-[300px] flex justify-center items-center">
      <span
        ><img
          class="w-[80px] h-[80px] rotateY animate-bounce"
          src="/images/logo.png"
          alt=""
      /></span>
    </div>
    }
  </div>
</section>
