<section class="py-14">
  <div class="container relative mx-auto">
    <h2 class="text-4xl mb-4 text-cyan-800 dark:text-cyan-200">
      Shop Popular Categories
    </h2>
    @if (!isLoading) {
    <owl-carousel-o [options]="customOptions">
      @for (category of categoryList; track category._id) {
      <ng-template carouselSlide [id]="category._id">
        <div class="m-6 card">
          <img
            [src]="category.image"
            class="w-full h-[320px] lg:h-[250px] rounded-t"
            [alt]="category.name"
          />
          <h3
            class="bg-cyan-200 dark:bg-transparent text-center rounded-b dark:text-cyan-200 text-cyan-800"
          >
            {{ category.name }}
          </h3>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
    }@else {
    <div class="h-[300px] flex justify-center items-center">
      <span
        ><img
          class="w-[80px] h-[80px] rotateY animate-bounce"
          src="/images/logo.png"
          alt=""
      /></span>
    </div>
    }
  </div>
</section>
