https://18-e-commerce-route-final-project.vercel.app/home
https://18-e-commerce-route-final-project.vercel.app/#/home

<nav
  class="border-gray-200 bg-cyan-400 dark:bg-cyan-950 fixed top-0 left-0 right-0 z-50"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4"
  >
    <a
      routerLink="/home"
      class="flex items-center md:mx-auto md:my-3 lg:mx-0 lg:my-0 lg:justify-start space-x-1 rtl:space-x-reverse"
    >
      <img src="/images/logo.png" class="h-8" alt="Flowbite Logo" />
      <h1
        class="self-center text-2xl font-semibold whitespace-nowrap text-white"
      >
        <span class="text-green-600">B</span>oycott<span class="text-black"
          >M</span
        >arket
      </h1>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hidden w-full md:flex md:w-auto md:mx-5 grow"
      id="navbar-default"
    >
      @if (isLogin) {
      <ul
        class="font-medium flex flex-col p-4 lg:ms-15 md:p-0 mt-4 md:flex-row md:space-x-5 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="tRed"
            class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            routerLinkActive="tRed"
            class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
            aria-current="page"
            >Product</a
          >
        </li>
        <li>
          <a
            routerLink="/favorite"
            routerLinkActive="tRed"
            class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
            aria-current="page"
            >Fav<i class="fa-solid fa-heart text-[12px] text-red-500"></i
            >rite</a
          >
        </li>
        <li>
          <a
            routerLink="/cart"
            routerLinkActive="tRed"
            class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
            aria-current="page"
            >Cart<i
              class="fa-solid fa-cart-shopping text-sm text-green-600 dark:text-green-300"
            ></i
          ></a>
        </li>
        <li>
          <a
            routerLink="/allorders"
            routerLinkActive="tRed"
            class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
            aria-current="page"
            >Orders<i
              class="fa-solid fa-truck text-sm text-cyan-600 dark:text-cyan-300"
            ></i
          ></a>
        </li>
      </ul>
      }
      <ul
        class="font-medium flex p-4 ms-auto md:p-0 mt-4 flex-col md:flex-row md:space-x-5 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <ul class="md:order-2 md:ms-4">
          @if (isLogin === false) {
          <li>
            <a
              routerLink="/login"
              class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
              aria-current="page"
              >Login</a
            >
          </li>
          <li>
            <a
              routerLink="/register"
              class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
              aria-current="page"
              >Register</a
            >
          </li>
          }@else {

          <li>
            <a
              (click)="signout()"
              class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0 cursor-pointer"
              aria-current="page"
              >Signout</a
            >
          </li>
          }
        </ul>
        <ul class="flex flex-row gap-2 md:order-1">
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
              aria-current="page"
            >
              <i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
              aria-current="page"
            >
              <i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
              aria-current="page"
            >
              <i class="fab fa-whatsapp"></i
            ></a>
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-cyan-50 hover:text-green-600 transition-all rounded-sm md:bg-transparent md:p-0"
              aria-current="page"
            >
              <i class="fab fa-youtube"></i
            ></a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
