<footer class="bg-cyan-400 dark:bg-cyan-950">
  <div class="container px-1 md:px-5 lg:px-10 pt-10 shadow-xl">
    <div class="text-cyan-50">
      <h2 class="text-3xl">Get the BoycottMarket app</h2>
      <p class="text-lg ps-2">
        We will send you a link, open it on your phone to download the app
      </p>
      <div
        class="text-sm flex flex-col lg:flex-row items-center justify-between"
      >
        <div class="relative m-6 w-full">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-cyan-50 dark:text-cyan-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 16"
            >
              <path
                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
              />
              <path
                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
              />
            </svg>
          </div>
          <input
            type="text"
            id="input-group-1"
            class="bg-transparent border-3 border-cyan-300 text-cyan-50 text-sm rounded-lg focus:ring-cyan-50 focus:border-cyan-50 placeholder-cyan-50 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-cyan-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-500 dark:focus:border-blue-500"
            placeholder="name@flowbite.com"
          />
        </div>
        <button type="button" class="mainBtn">Share App Link</button>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row justify-center lg:justify-between px-12 py-2 border-y bg-sky-100 w-full"
  >
    <div class="lg:w-1/3 flex flex-col lg:flex-row items-center gap-3">
      <p>Payment Partners</p>
      <div class="flex gap-3 items-center">
        <img class="w-[50px]" src="/images/amazon-pay.png" alt="" />
        <img class="w-[50px]" src="/images/American-Express-Color.png" alt="" />
        <img class="w-[50px]" src="/images/mastercard.webp" alt="" />
        <img class="w-[50px]" src="/images/paypal.png" alt="" />
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row items-center justify-center mt-3 lg:mt-0 lg:justify-end gap-3 lg:w-1/2"
    >
      <p>Get deliveries with BoycottMarket</p>
      <div class="flex items-center">
        <img class="w-[100px]" src="/images/get-apple-store.png" alt="" />
        <img class="w-[100px]" src="/images/get-google-play.png" alt="" />
      </div>
    </div>
  </div>
</footer>
