<section class="py-24 lg:py-24 md:py-36 bg-cyan-50 px-5 min-h-[80vh]">
  <h2 class="text-[30px] leading-[23px] mb-5">Checkout Form</h2>
  <form
    [formGroup]="checkoutForm"
    class="w-full md:w-3/4 mx-auto"
    (ngSubmit)="checkout()"
  >
    <app-input
      [inputControl]="checkoutForm.get('shippingAddress')?.get('details')"
      [inputIcon]="'fa-solid fa-envelope'"
      [inputId]="'details'"
      [inputLabel]="'Details'"
      [inputOrTextArea]="'textArea'"
      [inputPlaceHolder]="'Details'"
    ></app-input>
    <app-input
      [inputControl]="checkoutForm.get('shippingAddress')?.get('phone')"
      [inputIcon]="'fa-solid fa-phone'"
      [inputId]="'phone'"
      [inputLabel]="'Phone'"
      [inputPlaceHolder]="'Phone'"
      [inputType]="'tel'"
      >Please Enter An Egyption Number</app-input
    >
    <app-input
      [inputControl]="checkoutForm.get('shippingAddress')?.get('city')"
      [inputIcon]="'fa-solid fa-location-dot'"
      [inputId]="'city'"
      [inputLabel]="'City'"
      [inputPlaceHolder]="'City'"
      [inputType]="'text'"
    ></app-input>

    <div class="flex justify-center items-center gap-4">
      <button
        class="w-full my-3 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Cash payment <i class="fa-solid fa-money-bill-wave"></i>
      </button>
      <button
        class="w-full my-3 text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Pay by Credit <i class="fa-solid fa-credit-card"></i>
      </button>
    </div>
  </form>
</section>
